@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;700&family=Open+Sans:wght@300;400;600&display=swap');

.font{
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

.body{
  background: #fff;
}

.blog-card{
  &:hover{
    transform: scale(1.05);
    transition: all 0.3s ease-in-out;
  }
  &::after{
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    background: lightblue;
    transform: scaleX(0);
    transform-origin: left;
    transition: all 0.3s ease-in;
  }
  &:hover::after{
    transform: scaleX(1);
  }
}

.line-effect{
  
    li::after{
      content:'';
      display: block;
      width: 100%;
      height: 2px;
      background: lightblue;
      transform: scaleX(0);
      transition: all 0.3s ease-out;
      transform-origin: bottom left;
    }
    li:hover::after{
      transform: scaleX(1);
      transform-origin: bottom left;
    }
}

.copy{
  // opacity: 0.5;
  background: #fff8f8;
  opacity: 0.8;
  transition-delay: 0.3s;
}

